{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://localhost:8090"
  },
  "/flatlaf" : {
    "path" : "/flatlaf",
    "webFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ]
    },
    "icon" : "${webswing.rootDir}/apps/FlatLaf/icon.png",
    "langFolder" : "${webswing.configDir}/lang",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Xmx128m -DauthorizedUser=${user} -Dwebswing.optimizeCaret=true",
      "classPathEntries" : [ "${webswing.rootDir}/apps/FlatLaf/*.jar" ],
      "theme" : "Murrine",
      "fontConfig" : { },
      "swingSessionTimeout" : 300,
      "isolatedFs" : true,
      "debug" : true,
      "javaFx" : false,
      "javaFxClassPathEntries" : [ ],
      "directdraw" : true,
      "compositingWinManager" : true,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "allowJsLink" : true,
      "jsLinkWhitelist" : [ "org.webswing.demo.jslink.JsLinkDemo.*" ],
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "com.formdev.flatlaf.demo.FlatLafDemo"
      },
      "userDir" : "${user}",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "transferDir" : "${user}/upload",
      "homeDir" : "${webswing.rootDir}/apps/FlatLaf"
    },
    "maxClients" : 100,
    "allowStealSession" : true,
    "name" : "FlatLaf",
    "autoLogout" : true,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/FlatLaf"
  },
  "/netbeans" : {
    "path" : "/netbeans",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "classPath" : [ ]
    },
    "icon" : "icon.png",
    "webFolder" : "",
    "swingConfig" : {
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : "-Dorg.netbeans.log.startup=print -DTopSecurityManager.disable=true",
      "classPathEntries" : [ "*.jar" ],
      "theme" : "Murrine",
      "swingSessionTimeout" : 300,
      "antiAliasText" : true,
      "isolatedFs" : true,
      "debug" : true,
      "directdraw" : false,
      "allowDelete" : true,
      "allowDownload" : true,
      "allowAutoDownload" : true,
      "allowUpload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "org.webswing.demo.NbMain"
      },
      "homeDir" : "${webswing.rootDir}/apps/nbmin"
    },
    "maxClients" : 1,
    "allowStealSession" : true,
    "name" : "NetBeans Platform",
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "uploadMaxSize" : 5,
    "webHomeDir" : "${webswing.rootDir}/apps/nbmin"
  },
  "/myapp" : {
    "path" : "/myapp",
    "enabled" : true,
    "name" : "My Application",
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "uploadMaxSize" : 5,
    "maxClients" : 1,
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "monitorEdtEnabled" : true,
    "recordingConsentRequired" : false,
    "mirroringConsentRequired" : false,
    "loadingAnimationDelay" : 2,
    "allowStealSession" : true,
    "autoLogout" : true,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "allowedCorsOrigins" : [ "*" ],
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "homeDir" : "${user.dir}",
      "theme" : "Murrine",
      "directdraw" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "mainClass" : "StartSimulation"
      },
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "dockMode" : "ALL",
      "allowStatisticsLogging" : true,
      "testMode" : false,
      "classPathEntries" : [ "Simulation.jar" ],
      "jsLinkWhitelist" : [ "*" ],
      "transparentFileOpen" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "clearTransferDir" : true,
      "transparentFileSave" : true,
      "transferDir" : "${user}/upload"
    }
  }
}